RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://aprendiendoacrecer.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://aprendiendoacrecer.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autozona.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autozona.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autozona2.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://autozona2.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chikitins.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chikitins.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://connectcenter.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://connectcenter.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icontacto.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://icontacto.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inter-mex.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://inter-mex.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcqconnect.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pcqconnect.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://qualityinstruments.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://qualityinstruments.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aprendiendoacrecer.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.aprendiendoacrecer.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autozona.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autozona.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autozona2.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.autozona2.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chikitins.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chikitins.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.connectcenter.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.connectcenter.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icontacto.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.icontacto.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inter-mex.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.inter-mex.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcqconnect.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pcqconnect.contacchat.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qualityinstruments.contacchat.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qualityinstruments.contacchat.com$      [NC]
RewriteRule \*(jpg|jpeg|gif|png|bmp)$ - [F,NC]
# Google Analytics Integration - Added by cPanel.
<IfModule mod_substitute.c>
AddOutputFilterByType SUBSTITUTE text/html
Substitute "s|(<script type='text/javascript' src='/google_analytics_auto.js'></script>)?</head>|<script src='/google_analytics_auto.js'></script></head>|i"
</IfModule>
# END Google Analytics Integration
